/* 
primary : #687EFF
secondary : #98E4FF
tertiary : #B6FFFA
light : ##fafafa
dark: #1E1E1E

*/

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

section,
footer {
  background-color: #b6fffa;
  padding: 5rem 0;
}

.navbar {
  background-color: #687eff;
}

#header {
  height: 1000px;
  padding: 0 0;
  background-image: url("./assets/images/bg-hero.png");
}

.brand-icon {
  width: 3rem;
}

.nav-link {
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  color: #b6fffa !important;
  display: inline-block;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container-hero {
  height: 100%;
  display: grid;
  grid-template-column: 1fr;
  grid-template-rows: 50% 25% 25%;
  justify-content: center;
}

.hero {
  align-self: end;
}
.hero-text,
.hero-sub {
  text-align: center;
  color: #b6fffa;
}

.hero-text {
  font-size: 5rem;
  font-weight: 700;
}

.hero-sub {
  font-size: 2rem;
  font-weight: 300;
}

.button {
  grid-row: 3/ 4;
  align-self: start;
  justify-self: center;
  border-radius: 100px;
  color: #687eff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px;
  background-color: #98e4ff;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  box-shadow: 0 5px 25px 10px #98e4ff;
}

.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #687eff;
}

.desc {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.sub-title {
  font-size: 2rem;
  font-weight: 500;
}

/* about */
#about {
  height: fit-content;
  text-align: center;
}

.img-author {
  width: 300px;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.about-desc {
  text-align: justify;
}

/* skills */
#skills {
  background-color: #fafafa;
  height: fit-content;
  text-align: center;
}

.skills-desc {
  padding: 0;
  list-style-type: none;
}

/* projects */
#projects {
  text-align: center;
}
.blog {
  margin-bottom: 2rem;
}
.blog-title {
  text-align: justify;
}
.blog-img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #687eff;
  scroll-behavior: smooth;
}

.blog-desc {
  text-align: justify;
}

.img-link {
  transition: transform 0.2s;
}

.img-link:hover {
  transform: scale(1.1);
}

.btn-project {
  border-radius: 100px;
  background-color: #687eff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px;
  color: #b6fffa;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn-project:hover {
  box-shadow: 0 5px 25px 10px #687eff;
}

/* contact */
#contact {
  background-color: #687eff;
  color: #b6fffa;
  text-align: center;
}

.contact-title {
  color: #b6fffa;
}

.btn-contact {
  margin-top: 2rem;
}

/* footer */
#footer {
  text-align: center;
}

.ft-icon {
  width: 2rem;
}
.ft-text {
  margin-top: 2rem;
  color: #687eff;
  font-size: 1rem;
}
@media (max-width: 576px) {
  .blog-img {
    width: 100%;
  }
}
